
body {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: minmax(200px, 300px) 1fr;
    overflow: hidden;
}

#content-container {
    overflow-y: auto;
}

#content-container > .container {
    margin-bottom: 2em;
}

#sidebar-container {
    border-right: 1px solid var(--bs-gray-600);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.1em;
    overflow-y: auto;
}

#profile-container img {
    border-radius: 1000px;
    /* border: 1px solid var(--bs-body-color); */
    max-width: 215px;
    width: 100%;
}

#author-container {
    margin-top: 2em;
    margin-bottom: 2em;
    text-align: center;
}

#blog-title {
    font-size: 2.25em;
    text-decoration: none;
    color: var(--bs-body-color);
}

#socials-container {
    display: flex;
    flex-direction: column;
}

.social-icon {
    width: 1.5em;
    opacity: 0.65;
    margin-right: 0.35em;
}

.social-entry a {
    text-decoration: none;
    color: var(--bs-body-color);
}

.social-name {
    text-transform: lowercase;
}

.social-entry {
    margin-bottom: 0.75em;
}

@keyframes OpacityUp {
    from {
        opacity: 0.65;
    }
    to {
        opacity: 1;
    }
}
@keyframes ColorBright {
    from {
        color: var(--bs-body-color);
    }
    to {
        color: white;
    }
}

.social-link:hover .social-name {
    color: white;
    animation-name: ColorBright;
    animation-duration: 0.2s;
}
.social-link:hover .social-icon {
    opacity: 1;
    animation-name: OpacityUp;
    animation-duration: 0.2s;
}

#post-title {
    margin-top: 1em;
}

#metadata-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 2em;
}

.metadata-icon {
    margin-right: 0.3em;
}

.post-category {
    text-decoration: none;
    color: var(--bs-body-color);
    text-transform: lowercase;
}

#category-listing {
    display: inherit;
    margin-left: 1em;
}

.post-category:hover {
    color: white;
    animation-name: ColorBright;
    animation-duration: 0.2s;
}

.quote {
    border-left: 0.2em solid var(--bs-body-color);
    background-color: rgba(255, 255, 255, 0.1);
    color: #ddd;
    padding-left: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    margin-bottom: 1em;
}

.quote p {
    padding: 0;
    margin: 0;
}

img.figure {
    max-width: 100%;
}

.heading {
    margin-top: 1em;
}
